body { 
    font-family: Arial, sans-serif; 
}
#userList {
     margin-top: 20px; 
    }
.user { 
    margin: 5px 0;
     padding: 5px;
      background-color: #f3f3f3;
       border-radius: 4px;
     }